src/dashboard/flows.json
[{"id":"5992b366.f9457c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3686d445.ae6fac","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"tickgen/tick","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":260,"y":100,"wires":[["a0ca5b1b.242ed8"]]},{"id":"a0ca5b1b.242ed8","type":"ui_text","z":"5992b366.f9457c","group":"675fff50.e5e07","order":1,"width":8,"height":1,"name":"","label":"Simulationszeit","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":100,"wires":[]},{"id":"e09fa76.8c40d58","type":"ui_slider","z":"5992b366.f9457c","name":"","label":"Simulationsgeschwindigkeit","tooltip":"","group":"675fff50.e5e07","order":5,"width":16,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0.25","max":"60","step":"0.25","x":480,"y":360,"wires":[["4a655145.b57"]]},{"id":"94f5375.5e92cc8","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"tickgen/speed_factor","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":230,"y":160,"wires":[["a52df976.ba8f88"]]},{"id":"a52df976.ba8f88","type":"ui_text","z":"5992b366.f9457c","group":"675fff50.e5e07","order":2,"width":8,"height":1,"name":"","label":"Simulationsgeschwindigkeit","format":"{{msg.payload}}x","layout":"row-spread","x":480,"y":160,"wires":[]},{"id":"4a655145.b57","type":"mqtt out","z":"5992b366.f9457c","name":"","topic":"tickgen/speed_factor","qos":"","retain":"","broker":"3b931ee9.0688c2","x":860,"y":360,"wires":[]},{"id":"5c7ef2e5.7d6d5c","type":"ui_switch","z":"5992b366.f9457c","name":"","label":"Enable Adaptive Mode","tooltip":"","group":"675fff50.e5e07","order":6,"width":8,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":460,"y":300,"wires":[["93931a65.57e558"]]},{"id":"93931a65.57e558","type":"mqtt out","z":"5992b366.f9457c","name":"","topic":"mgmt/adaptive_mode","qos":"","retain":"","broker":"3b931ee9.0688c2","x":860,"y":300,"wires":[]},{"id":"9e297410.dadd68","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"mgmt/adaptive_mode","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":220,"y":220,"wires":[["8e0c7bef.ddd488"]]},{"id":"8e0c7bef.ddd488","type":"ui_text","z":"5992b366.f9457c","group":"675fff50.e5e07","order":3,"width":8,"height":1,"name":"","label":"Adaptive Mode","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":220,"wires":[]},{"id":"fd591594.eb76d8","type":"change","z":"5992b366.f9457c","name":"density","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.density","tot":"msg"},{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":500,"wires":[["9b9b81e2.eb0ef"]]},{"id":"88e16359.77529","type":"inject","z":"5992b366.f9457c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"tick_gen/speed_factor","payload":"10","payloadType":"num","x":210,"y":360,"wires":[["e09fa76.8c40d58"]]},{"id":"7b1f9b6f.3e0bd4","type":"inject","z":"5992b366.f9457c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"mgmt/adaptive_mode","payload":"false","payloadType":"bool","x":200,"y":300,"wires":[["5c7ef2e5.7d6d5c"]]},{"id":"4ddb5646.e6bc08","type":"inject","z":"5992b366.f9457c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"tickgen/tick","payload":"0","payloadType":"num","x":250,"y":60,"wires":[["a0ca5b1b.242ed8"]]},{"id":"9b9b81e2.eb0ef","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"a7c03f91.8126","order":2,"width":8,"height":8,"gtype":"gage","title":"current density","label":"[kg/m³]","format":"{{value}}","min":"1.0","max":"1.5","colors":["#e6e600","#00b500","#e6e600"],"seg1":"1.2","seg2":"1.3","x":860,"y":500,"wires":[]},{"id":"8ce67cc3.41b7e8","type":"change","z":"5992b366.f9457c","name":"temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"},{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":540,"wires":[["7f03daf6.a2b184"]]},{"id":"7f03daf6.a2b184","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"a7c03f91.8126","order":2,"width":8,"height":8,"gtype":"gage","title":"current temperature","label":"[°C]","format":"{{value}}","min":"-50","max":"50","colors":["#e6e600","#00b500","#e6e600"],"seg1":"-10","seg2":"30","x":890,"y":540,"wires":[]},{"id":"3337e12e.8b5926","type":"change","z":"5992b366.f9457c","name":"windspeed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.windspeed","tot":"msg"},{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":580,"wires":[["126ee38c.af219c"]]},{"id":"126ee38c.af219c","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"a7c03f91.8126","order":2,"width":8,"height":8,"gtype":"gage","title":"current windspeed","label":"[m/s]","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#d13a3c"],"seg1":"28","seg2":"34","x":890,"y":580,"wires":[]},{"id":"72cc9a58.819d44","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"data/weather/","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":190,"y":500,"wires":[["2410de71.e9c3b2"]]},{"id":"2410de71.e9c3b2","type":"json","z":"5992b366.f9457c","name":"","property":"payload","action":"","pretty":false,"x":490,"y":500,"wires":[["3337e12e.8b5926","8ce67cc3.41b7e8","fd591594.eb76d8"]]},{"id":"dbe6e05c.5d5df","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"data/power/sum","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":200,"y":640,"wires":[["6c1dda80.f86294"]]},{"id":"6c1dda80.f86294","type":"json","z":"5992b366.f9457c","name":"","property":"payload","action":"","pretty":false,"x":370,"y":640,"wires":[["bf643606.92d9b","7894321b.25e71c"]]},{"id":"bf643606.92d9b","type":"change","z":"5992b366.f9457c","name":"power sum","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.power","tot":"msg"},{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":640,"wires":[["9409d1b8.6644b8"]]},{"id":"9409d1b8.6644b8","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"a7c03f91.8126","order":2,"width":8,"height":8,"gtype":"gage","title":"current power sum","label":"[kW]","format":"{{value}}","min":"0","max":"16500","colors":["#00b500","#e6e600","#d13a3c"],"seg1":"14000","seg2":"15000","x":750,"y":640,"wires":[]},{"id":"7894321b.25e71c","type":"change","z":"5992b366.f9457c","name":"power mean","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.mean_power","tot":"msg"},{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":700,"wires":[["212415d1.705a12"]]},{"id":"212415d1.705a12","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"a7c03f91.8126","order":2,"width":8,"height":8,"gtype":"gage","title":"current power mean","label":"[kW]","format":"{{value}}","min":"0","max":"16500","colors":["#00b500","#e6e600","#d13a3c"],"seg1":"14000","seg2":"15000","x":760,"y":700,"wires":[]},{"id":"cbe006ad.e2bc88","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"data/hydrogen/request","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":220,"y":760,"wires":[["340d4656.15c6fa"]]},{"id":"340d4656.15c6fa","type":"json","z":"5992b366.f9457c","name":"","property":"payload","action":"","pretty":false,"x":410,"y":760,"wires":[["eff408e9.49c6e"]]},{"id":"eff408e9.49c6e","type":"change","z":"5992b366.f9457c","name":"power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hydrogen","tot":"msg"},{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":760,"wires":[["6f234645.9406d"]]},{"id":"6f234645.9406d","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"a7c03f91.8126","order":2,"width":8,"height":8,"gtype":"gage","title":"requested hydrogen [kg]","label":"[kW]","format":"{{value}}","min":"300","max":"600","colors":["#00b500","#e6e600","#d13a3c"],"seg1":"450","seg2":"500","x":730,"y":760,"wires":[]},{"id":"3b931ee9.0688c2","type":"mqtt-broker","name":"","broker":"mqttbroker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"675fff50.e5e07","type":"ui_group","name":"Configuration","tab":"8d5b248b.b32978","order":1,"disp":true,"width":"24","collapse":true},{"id":"a7c03f91.8126","type":"ui_group","name":"Chaos Sensor","tab":"8d5b248b.b32978","order":2,"disp":true,"width":"24","collapse":false},{"id":"8d5b248b.b32978","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]