src/dashboard/flows.json
[
    {
        "id": "5992b366.f9457c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3686d445.ae6fac",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "tickgen/tick",
        "qos": "2",
        "datatype": "auto",
        "broker": "3b931ee9.0688c2",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "a0ca5b1b.242ed8"
            ]
        ]
    },
    {
        "id": "a0ca5b1b.242ed8",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "675fff50.e5e07",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Simulationszeit",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "e09fa76.8c40d58",
        "type": "ui_slider",
        "z": "5992b366.f9457c",
        "name": "",
        "label": "Simulationsgeschwindigkeit",
        "tooltip": "",
        "group": "675fff50.e5e07",
        "order": 5,
        "width": 16,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "60",
        "step": "0.25",
        "x": 480,
        "y": 360,
        "wires": [
            [
                "4a655145.b57"
            ]
        ]
    },
    {
        "id": "94f5375.5e92cc8",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "tickgen/speed_factor",
        "qos": "2",
        "datatype": "auto",
        "broker": "3b931ee9.0688c2",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "a52df976.ba8f88"
            ]
        ]
    },
    {
        "id": "a52df976.ba8f88",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "675fff50.e5e07",
        "order": 2,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Simulationsgeschwindigkeit",
        "format": "{{msg.payload}}x",
        "layout": "row-spread",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "4a655145.b57",
        "type": "mqtt out",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "tickgen/speed_factor",
        "qos": "",
        "retain": "",
        "broker": "3b931ee9.0688c2",
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "5c7ef2e5.7d6d5c",
        "type": "ui_switch",
        "z": "5992b366.f9457c",
        "name": "",
        "label": "Enable Adaptive Mode",
        "tooltip": "",
        "group": "675fff50.e5e07",
        "order": 6,
        "width": 8,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "93931a65.57e558"
            ]
        ]
    },
    {
        "id": "93931a65.57e558",
        "type": "mqtt out",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "mgmt/adaptive_mode",
        "qos": "2",
        "retain": "",
        "broker": "3b931ee9.0688c2",
        "x": 860,
        "y": 300,
        "wires": []
    },
    {
        "id": "9e297410.dadd68",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "mgmt/adaptive_mode",
        "qos": "2",
        "datatype": "auto",
        "broker": "3b931ee9.0688c2",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "8e0c7bef.ddd488"
            ]
        ]
    },
    {
        "id": "8e0c7bef.ddd488",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "675fff50.e5e07",
        "order": 3,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Adaptive Mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 440,
        "y": 220,
        "wires": []
    },
    {
        "id": "fd591594.eb76d8",
        "type": "change",
        "z": "5992b366.f9457c",
        "name": "density",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.density",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 960,
        "wires": [
            [
                "a4a7a264.58172"
            ]
        ]
    },
    {
        "id": "88e16359.77529",
        "type": "inject",
        "z": "5992b366.f9457c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "tick_gen/speed_factor",
        "payload": "30",
        "payloadType": "num",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "e09fa76.8c40d58"
            ]
        ]
    },
    {
        "id": "7b1f9b6f.3e0bd4",
        "type": "inject",
        "z": "5992b366.f9457c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "mgmt/adaptive_mode",
        "payload": "false",
        "payloadType": "bool",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "5c7ef2e5.7d6d5c"
            ]
        ]
    },
    {
        "id": "4ddb5646.e6bc08",
        "type": "inject",
        "z": "5992b366.f9457c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "tickgen/tick",
        "payload": "0",
        "payloadType": "num",
        "x": 250,
        "y": 60,
        "wires": [
            [
                "a0ca5b1b.242ed8"
            ]
        ]
    },
    {
        "id": "8ce67cc3.41b7e8",
        "type": "change",
        "z": "5992b366.f9457c",
        "name": "temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1000,
        "wires": [
            [
                "d5047d55.3f1c9"
            ]
        ]
    },
    {
        "id": "3337e12e.8b5926",
        "type": "change",
        "z": "5992b366.f9457c",
        "name": "windspeed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.windspeed",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1040,
        "wires": [
            [
                "890b1084.a8f16"
            ]
        ]
    },
    {
        "id": "72cc9a58.819d44",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "data/weather/",
        "qos": "2",
        "datatype": "auto",
        "broker": "3b931ee9.0688c2",
        "x": 150,
        "y": 960,
        "wires": [
            [
                "2410de71.e9c3b2"
            ]
        ]
    },
    {
        "id": "2410de71.e9c3b2",
        "type": "json",
        "z": "5992b366.f9457c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 960,
        "wires": [
            [
                "3337e12e.8b5926",
                "8ce67cc3.41b7e8",
                "fd591594.eb76d8"
            ]
        ]
    },
    {
        "id": "dbe6e05c.5d5df",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "data/power/supply/sum",
        "qos": "2",
        "datatype": "auto",
        "broker": "3b931ee9.0688c2",
        "x": 180,
        "y": 1100,
        "wires": [
            [
                "6c1dda80.f86294"
            ]
        ]
    },
    {
        "id": "6c1dda80.f86294",
        "type": "json",
        "z": "5992b366.f9457c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 1100,
        "wires": [
            [
                "bf643606.92d9b",
                "7894321b.25e71c"
            ]
        ]
    },
    {
        "id": "bf643606.92d9b",
        "type": "change",
        "z": "5992b366.f9457c",
        "name": "power sum",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.power",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1100,
        "wires": [
            [
                "9409d1b8.6644b8"
            ]
        ]
    },
    {
        "id": "9409d1b8.6644b8",
        "type": "ui_gauge",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "a7c03f91.8126",
        "order": 2,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "current power sum",
        "label": "[kW]",
        "format": "{{value}}",
        "min": "0",
        "max": "16500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#d13a3c"
        ],
        "seg1": "14000",
        "seg2": "15000",
        "x": 770,
        "y": 1100,
        "wires": []
    },
    {
        "id": "7894321b.25e71c",
        "type": "change",
        "z": "5992b366.f9457c",
        "name": "power mean",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mean_power",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1160,
        "wires": [
            [
                "212415d1.705a12"
            ]
        ]
    },
    {
        "id": "212415d1.705a12",
        "type": "ui_gauge",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "a7c03f91.8126",
        "order": 2,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "current power mean",
        "label": "[kW]",
        "format": "{{value}}",
        "min": "0",
        "max": "16500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#d13a3c"
        ],
        "seg1": "14000",
        "seg2": "15000",
        "x": 780,
        "y": 1160,
        "wires": []
    },
    {
        "id": "cbe006ad.e2bc88",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "data/hydrogen/demand",
        "qos": "2",
        "datatype": "auto",
        "broker": "3b931ee9.0688c2",
        "x": 180,
        "y": 1220,
        "wires": [
            [
                "340d4656.15c6fa"
            ]
        ]
    },
    {
        "id": "340d4656.15c6fa",
        "type": "json",
        "z": "5992b366.f9457c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 1220,
        "wires": [
            [
                "eff408e9.49c6e"
            ]
        ]
    },
    {
        "id": "eff408e9.49c6e",
        "type": "change",
        "z": "5992b366.f9457c",
        "name": "hydrogen",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hydrogen",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1220,
        "wires": [
            [
                "6f234645.9406d"
            ]
        ]
    },
    {
        "id": "6f234645.9406d",
        "type": "ui_gauge",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "a7c03f91.8126",
        "order": 2,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "requested hydrogen [kg]",
        "label": "[kg]",
        "format": "{{value}}",
        "min": "0",
        "max": "600",
        "colors": [
            "#00b500",
            "#e6e600",
            "#d13a3c"
        ],
        "seg1": "300",
        "seg2": "500",
        "x": 750,
        "y": 1220,
        "wires": []
    },
    {
        "id": "1d4bf94a.738157",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "data/water/supply/water_pipe",
        "qos": "2",
        "datatype": "auto",
        "broker": "3b931ee9.0688c2",
        "x": 200,
        "y": 1320,
        "wires": [
            [
                "443b8704.6f5b98"
            ]
        ]
    },
    {
        "id": "443b8704.6f5b98",
        "type": "json",
        "z": "5992b366.f9457c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 1320,
        "wires": [
            [
                "a4e537fb.85e4f8"
            ]
        ]
    },
    {
        "id": "a4e537fb.85e4f8",
        "type": "change",
        "z": "5992b366.f9457c",
        "name": "water",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.watersupply",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1320,
        "wires": [
            [
                "5cf5e778.f95998"
            ]
        ]
    },
    {
        "id": "5cf5e778.f95998",
        "type": "ui_gauge",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "a7c03f91.8126",
        "order": 2,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "available water [m³]",
        "label": "[m³]",
        "format": "{{value}}",
        "min": "0",
        "max": "1500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#d13a3c"
        ],
        "seg1": "450",
        "seg2": "500",
        "x": 770,
        "y": 1320,
        "wires": []
    },
    {
        "id": "3e15c358.ddd1dc",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "data/filtered_water/supply/sum",
        "qos": "2",
        "datatype": "auto",
        "broker": "3b931ee9.0688c2",
        "x": 200,
        "y": 1420,
        "wires": [
            [
                "363ca3b1.5dff8c"
            ]
        ]
    },
    {
        "id": "363ca3b1.5dff8c",
        "type": "json",
        "z": "5992b366.f9457c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 1420,
        "wires": [
            [
                "9a81a125.b70a"
            ]
        ]
    },
    {
        "id": "9a81a125.b70a",
        "type": "change",
        "z": "5992b366.f9457c",
        "name": "filtered water",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.fwater",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 1420,
        "wires": [
            [
                "97b4c076.7b747"
            ]
        ]
    },
    {
        "id": "97b4c076.7b747",
        "type": "ui_gauge",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "a7c03f91.8126",
        "order": 2,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "filtered water [m³]",
        "label": "[m³]",
        "format": "{{value}}",
        "min": "0",
        "max": "1500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#d13a3c"
        ],
        "seg1": "450",
        "seg2": "500",
        "x": 770,
        "y": 1420,
        "wires": []
    },
    {
        "id": "bf746d71.4f811",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "data/distilled_water/supply/sum",
        "qos": "2",
        "datatype": "auto",
        "broker": "3b931ee9.0688c2",
        "x": 210,
        "y": 1520,
        "wires": [
            [
                "469dfc2b.21e5a4"
            ]
        ]
    },
    {
        "id": "469dfc2b.21e5a4",
        "type": "json",
        "z": "5992b366.f9457c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 1520,
        "wires": [
            [
                "a9ebc6a0.5a6a68"
            ]
        ]
    },
    {
        "id": "a9ebc6a0.5a6a68",
        "type": "change",
        "z": "5992b366.f9457c",
        "name": "distilled water",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.dwater",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1520,
        "wires": [
            [
                "9cc19ce.6add86"
            ]
        ]
    },
    {
        "id": "9cc19ce.6add86",
        "type": "ui_gauge",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "a7c03f91.8126",
        "order": 2,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "distilled water [m³]",
        "label": "[m³]",
        "format": "{{value}}",
        "min": "0",
        "max": "1500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#d13a3c"
        ],
        "seg1": "450",
        "seg2": "500",
        "x": 770,
        "y": 1520,
        "wires": []
    },
    {
        "id": "2d5d4673.402b5a",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "data/hydrogen/supply/sum",
        "qos": "2",
        "datatype": "auto",
        "broker": "3b931ee9.0688c2",
        "x": 190,
        "y": 1620,
        "wires": [
            [
                "c9009c8.500986"
            ]
        ]
    },
    {
        "id": "c9009c8.500986",
        "type": "json",
        "z": "5992b366.f9457c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 1620,
        "wires": [
            [
                "4c9e42db.599ccc"
            ]
        ]
    },
    {
        "id": "4c9e42db.599ccc",
        "type": "change",
        "z": "5992b366.f9457c",
        "name": "produced hydrogen",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hydrogen",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1620,
        "wires": [
            [
                "7679306d.783d9"
            ]
        ]
    },
    {
        "id": "7679306d.783d9",
        "type": "ui_gauge",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "a7c03f91.8126",
        "order": 2,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "hydrogen [kg]",
        "label": "[kg]",
        "format": "{{value}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "300",
        "seg2": "400",
        "x": 800,
        "y": 1620,
        "wires": []
    },
    {
        "id": "16c9ef9e.44dd9",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "data/kpi/status/filter_plant/0",
        "qos": "2",
        "datatype": "auto",
        "broker": "3b931ee9.0688c2",
        "x": 190,
        "y": 460,
        "wires": [
            [
                "e86f42ec.82341"
            ]
        ]
    },
    {
        "id": "2b2a8d28.d142b2",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "675fff50.e5e07",
        "order": 3,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "STATUS FILTER PLANT ID:0",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "8aa9eebc.26c8c",
        "type": "change",
        "z": "5992b366.f9457c",
        "name": "status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 460,
        "wires": [
            [
                "2b2a8d28.d142b2"
            ]
        ]
    },
    {
        "id": "e86f42ec.82341",
        "type": "json",
        "z": "5992b366.f9457c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 460,
        "wires": [
            [
                "8aa9eebc.26c8c"
            ]
        ]
    },
    {
        "id": "6bb6c4c4.748b8c",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "data/kpi/status/filter_plant/1",
        "qos": "2",
        "datatype": "auto",
        "broker": "3b931ee9.0688c2",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "eeb63cba.9c5db"
            ]
        ]
    },
    {
        "id": "5a506731.7e6138",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "675fff50.e5e07",
        "order": 3,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "STATUS FILTER PLANT ID:1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 860,
        "y": 520,
        "wires": []
    },
    {
        "id": "e9a38bb0.a0bdb8",
        "type": "change",
        "z": "5992b366.f9457c",
        "name": "status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 520,
        "wires": [
            [
                "5a506731.7e6138"
            ]
        ]
    },
    {
        "id": "eeb63cba.9c5db",
        "type": "json",
        "z": "5992b366.f9457c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 520,
        "wires": [
            [
                "e9a38bb0.a0bdb8"
            ]
        ]
    },
    {
        "id": "505a24af.4ec5fc",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "data/kpi/status/filter_plant/2",
        "qos": "2",
        "datatype": "auto",
        "broker": "3b931ee9.0688c2",
        "x": 190,
        "y": 580,
        "wires": [
            [
                "4aa6e3fa.c8bdbc"
            ]
        ]
    },
    {
        "id": "7d740787.b30dd8",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "675fff50.e5e07",
        "order": 3,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "STATUS FILTER PLANT ID:2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 860,
        "y": 580,
        "wires": []
    },
    {
        "id": "cadb0dd0.1f95c",
        "type": "change",
        "z": "5992b366.f9457c",
        "name": "status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 580,
        "wires": [
            [
                "7d740787.b30dd8"
            ]
        ]
    },
    {
        "id": "4aa6e3fa.c8bdbc",
        "type": "json",
        "z": "5992b366.f9457c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 580,
        "wires": [
            [
                "cadb0dd0.1f95c"
            ]
        ]
    },
    {
        "id": "9f01be3f.591e8",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "data/kpi/status/hydrogen_plant/0",
        "qos": "2",
        "datatype": "auto",
        "broker": "3b931ee9.0688c2",
        "x": 210,
        "y": 640,
        "wires": [
            [
                "2e77b6d.0eb054a"
            ]
        ]
    },
    {
        "id": "8052aeac.6ae08",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "675fff50.e5e07",
        "order": 3,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "STATUS HYDDROGEN PLANT ID:0",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 890,
        "y": 640,
        "wires": []
    },
    {
        "id": "34bd4458.a7f94c",
        "type": "change",
        "z": "5992b366.f9457c",
        "name": "status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 640,
        "wires": [
            [
                "8052aeac.6ae08"
            ]
        ]
    },
    {
        "id": "2e77b6d.0eb054a",
        "type": "json",
        "z": "5992b366.f9457c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 640,
        "wires": [
            [
                "34bd4458.a7f94c"
            ]
        ]
    },
    {
        "id": "17b41e44.c4c082",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "data/kpi/status/hydrogen_plant/1",
        "qos": "2",
        "datatype": "auto",
        "broker": "3b931ee9.0688c2",
        "x": 210,
        "y": 700,
        "wires": [
            [
                "1d62f25a.e4a33e"
            ]
        ]
    },
    {
        "id": "9df47d11.b030a",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "675fff50.e5e07",
        "order": 3,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "STATUS HYDDROGEN PLANT ID:1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 890,
        "y": 700,
        "wires": []
    },
    {
        "id": "ad979450.01cc98",
        "type": "change",
        "z": "5992b366.f9457c",
        "name": "status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 700,
        "wires": [
            [
                "9df47d11.b030a"
            ]
        ]
    },
    {
        "id": "1d62f25a.e4a33e",
        "type": "json",
        "z": "5992b366.f9457c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 700,
        "wires": [
            [
                "ad979450.01cc98"
            ]
        ]
    },
    {
        "id": "2e2b8b3e.8f3f14",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "data/kpi/status/hydrogen_plant/2",
        "qos": "2",
        "datatype": "auto",
        "broker": "3b931ee9.0688c2",
        "x": 210,
        "y": 760,
        "wires": [
            [
                "62feb234.d7834c"
            ]
        ]
    },
    {
        "id": "d1b9d5c6.0fb038",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "675fff50.e5e07",
        "order": 3,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "STATUS HYDDROGEN PLANT ID:2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 890,
        "y": 760,
        "wires": []
    },
    {
        "id": "a95a1aad.e71d38",
        "type": "change",
        "z": "5992b366.f9457c",
        "name": "status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 760,
        "wires": [
            [
                "d1b9d5c6.0fb038"
            ]
        ]
    },
    {
        "id": "62feb234.d7834c",
        "type": "json",
        "z": "5992b366.f9457c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 760,
        "wires": [
            [
                "a95a1aad.e71d38"
            ]
        ]
    },
    {
        "id": "a4a7a264.58172",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "675fff50.e5e07",
        "order": 3,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "current density [kg/m³]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 860,
        "y": 960,
        "wires": []
    },
    {
        "id": "d5047d55.3f1c9",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "675fff50.e5e07",
        "order": 3,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "current temperature [°C]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 870,
        "y": 1000,
        "wires": []
    },
    {
        "id": "890b1084.a8f16",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "675fff50.e5e07",
        "order": 3,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "current windspeed [m/s]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 870,
        "y": 1040,
        "wires": []
    },
    {
        "id": "3b931ee9.0688c2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqttbroker",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "675fff50.e5e07",
        "type": "ui_group",
        "name": "Configuration",
        "tab": "8d5b248b.b32978",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": true
    },
    {
        "id": "a7c03f91.8126",
        "type": "ui_group",
        "name": "Chaos Sensor",
        "tab": "8d5b248b.b32978",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "8d5b248b.b32978",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]